In [2]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import tensorflow as tf
import tensorflow.keras.layers as tfl

In [10]:
# Data Review

df = pd.read_csv('data/GOOG.csv')
df.tail()

     symbol                       date  ...  divCash  splitFactor
1253   GOOG  2021-06-07 00:00:00+00:00  ...      0.0          1.0
1254   GOOG  2021-06-08 00:00:00+00:00  ...      0.0          1.0
1255   GOOG  2021-06-09 00:00:00+00:00  ...      0.0          1.0
1256   GOOG  2021-06-10 00:00:00+00:00  ...      0.0          1.0
1257   GOOG  2021-06-11 00:00:00+00:00  ...      0.0          1.0

[5 rows x 14 columns]

In [11]:
# Data Preprocessing

X = df.iloc[:, 2:-1]
Y = df.iloc[:, -1]

In [13]:
df.shape

(1258, 14)